:root {
  --color-primary: #130F26;
  --color-background: #FFFFFF;
  --color-accent: #e2e2e2;
  --color-border: #EBEBEB;
  --color-text: #000000;
  --bg-color: #F3F5F8;
  --side-menu-background:  #fff;
  --red: #F87171;
  --card-background: #fff;
  --main: #F97316;
}